<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TECH CASH CLUB{% endblock %}</title>
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <!-- Incluir CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

        <a class="navbar-brand" href="{{ url_for('index') }}">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('registro') }}">Crear socios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('mostrar_socios') }}">Mostrar socios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('registro_productos') }}">Crear productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('mostrar_productos') }}">Mostrar productos</a>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        {% block content %}
        {% endblock %}
</div>
        
    <!-- Incluir JavaScript de Bootstrap y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


